name: forch test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'

jobs:
  test_fot:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet and daq
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: |
          bin/setup_remote faucet
          bin/setup_remote daq
      - name: build docker
        run: bin/retry_cmd bin/build_docker controller
      - name: setup stack
        run: bin/setup_stack skip-conn-check dhcp fot
      - name: run integration tests
        run: bin/run_test_set fot
      - name: post-run logs
        if: ${{ always() }}
        run: |
          echo %%%%%%%%%%%%% module_config.json
          cat inst/forch-controller-1/daq/local/site/mac_addrs/9a02571e8f01/aux/module_config.json || true
          echo %%%%%%%%%%%%% device_config.json
          cat inst/forch-controller-1/daq/local/site/mac_addrs/9a02571e8f01/device_config.json || true
          echo %%%%%%%%%%%%% base_config.json
          cat inst/forch-controller-1/daq/local/base_config.json || true
          echo %%%%%%%%%%%%% Controller startup logs
          docker logs forch-controller-1
          echo %%%%%%%%%%%%% DAQ startup logs
          cat inst/forch-controller-1/daq/inst/cmdrun.log
